.triangle-button-right {
	width: 15wv;
	fill: red;
}

.triangle-button-left {
	width: 15wv;
}
.triangle-button-left:hover,
.triangle-button-right:hover {
	border: 4px solid transparent;
}

@media only screen and (max-width: 800px) {
	.triangle-button-left {
		width: 20wv;
	}
	.triangle-button-right {
		width: 20wv;
	}
}

@media only screen and (max-width: 400px) {
	.triangle-button-left {
		width: 20wv;
	}
	.triangle-button-right {
		width: 20wv;
	}
}
